<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="https://i.imgur.com/UZVND0o.png">
    </a>
    <h1>Assignment - Postal Rate Calculator</h1>
    <p>Use Node.js and Express to create a web application that determines the postage required for a single piece of retail first-class mail.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://content.byui.edu/file/14882098-ce1f-44ba-a196-a7aebcb3d5ce/1/week09/prove.html"><span class="glyphicon glyphicon-flash"></span> Click here for instructions</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/Franks-Joseph?tab=repositories"><span class="glyphicon glyphicon-download"></span> GitHub Repository</a>
  </div>
</div>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-6 lead">
      <h3></span>Response</h3>
      <hr>
      <h1>Your Rate for <%= mailType %></h1>
      <p>Weight: <%= weight %>oz</p>
      <p>Rate: $<%= total %></p>
    </div>
  </div>
</div>
</body>
</html>
